body {
    background-color: #c5c5c5;
}

.container {
    border-radius: 10px;
    background-color: #fff;
    font-size: 2rem;
    width: 100%;
    max-width: 500px;
    height: 100%;
    max-height: 700px;

    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px 10px #404040;

    margin: auto;
}

.container span {
    display: block;
    text-align: center;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .container {    
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .container {    
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}