:root {
    --titanium-black-color: #000;
    --titanium-green-color: #005703;
    --titanium-blue-color: #000791;
    --titanium-gray-color: #4a4a4a;

    --blue-color: #319bf7;
    --orange-color: #ff6200;
    --red-color: #ff1b1b;
    --light-red-color: #ff9191;
}

html, body {
    margin: 0;
}

h1 {
    padding: 20px;
    margin: 0;
    text-align: center;
}

.container {
    width: calc(100% - 32px);
    max-width: 576px;
    margin: 0 auto;
}

.container .products-section {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.container .products-section .product-wrapper {
    padding: 20px;
    box-shadow: 0 0 4px rgba(0,0,0,.2);
    transition: box-shadow 0.2s ease;
}

.container .products-section .product-wrapper:hover {
    box-shadow: 0 0 10px rgba(0,0,0,.6);
}

.container .products-section .product-wrapper .product {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: repeat(4, 1fr);
    height: 100%;
}

.container .products-section .product-wrapper .product .product__image {
    grid-column: 1/2;
    grid-row: 1/4;
    min-width: 123px;
}

.container .products-section .product-wrapper .product .product__image img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.container .products-section .product-wrapper .product .product__color-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 80px;
    margin: 0 auto;
    padding: 0;

    grid-column: 1/2;
    grid-row: 4/5;
}

.container .products-section .product-wrapper .product .product__color-list li{
    display: block;
    width: 18px;
    height: 18px;
}

.container .products-section .product-wrapper .product .product__color-list .product__color-element{
    border-radius: 50%;
    width: 100%;
    max-width: 20px;
    height: 100%;
    max-height: 20px;
    position: relative;
}

.container .products-section .product-wrapper .product .product__color-list .product__color-element.product__color-element--black{
    background-color: var(--titanium-black-color);
}

.container .products-section .product-wrapper .product .product__color-list .product__color-element.product__color-element--green{
    background-color: var(--titanium-green-color);
}

.container .products-section .product-wrapper .product .product__color-list .product__color-element.product__color-element--blue{
    background-color: var(--titanium-blue-color);
}

.container .products-section .product-wrapper .product .product__color-list .product__color-element.product__color-element--gray{
    background-color: var(--titanium-gray-color);
}

.container .products-section .product-wrapper .product .product__color-list .product__color-element:hover {
    transform: scale(1.1);
}

.container .products-section .product-wrapper .product .product__color-list .product__color-element.product__color-element--selected::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    width: 120%;
    height: 120%;
    background-color: transparent;
    border: 1px solid var(--blue-color);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container .products-section .product-wrapper .product .product__name {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    align-self: center;
    text-decoration: none;
    color: #000;
    transition: color 0.2s ease-in-out;
}

.container .products-section .product-wrapper .product .product__name:hover {
    color: var(--blue-color);
}

.container .products-section .product-wrapper .product .product__rating {
    display: flex;
    align-items: center;
    gap: 8px;

    grid-column: 2/3;
    grid-row: 2/3;
}

.container .products-section .product-wrapper .product .product__rating .product__stars {
    display: flex;
    gap: 2px;
}

.container .products-section .product-wrapper .product .product__rating .product__evaluation {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    color: var(--orange-color);
}

.container .products-section .product-wrapper .product .product__details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 2/3;
    grid-row: 3/4;
}

.container .products-section .product-wrapper .product .product__details .product__comments {
    display: flex;
    align-items: center;
    gap: 4px;
    text-decoration: none;
}

.container .products-section .product-wrapper .product .product__details .product__comments .product__comments-svg-wrapper {
    display: flex;
    align-items: center;
}

.container .products-section .product-wrapper .product .product__details .product__comments .product__comments-svg-wrapper svg {
    fill: var(--blue-color);
    transition: fill 0.2s ease-in-out;
}

.container .products-section .product-wrapper .product .product__details .product__comments:hover .product__comments-svg-wrapper svg {
    fill: var(--orange-color);
}

.container .products-section .product-wrapper .product .product__details .product__comments .product__comments-number {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    color: var(--blue-color);
    transition: color 0.2s ease-in-out;
}

.container .products-section .product-wrapper .product .product__comments:hover .product__comments-number {
    color: var(--orange-color);
}

.container .products-section .product-wrapper .product .product__compare,
.container .products-section .product-wrapper .product .product__favorite {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.container .products-section .product-wrapper .product .product__compare svg,
.container .products-section .product-wrapper .product .product__favorite svg {
    fill: var(--blue-color);
    transition: fill 0.2s ease-in-out;
}

.container .products-section .product-wrapper .product .product__compare:hover svg {
    fill: var(--red-color);
}

.container .products-section .product-wrapper .product .product__favorite:hover svg {
    fill: var(--red-color);
}


.container .products-section .product-wrapper .product .product__value-and-cart-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .products-section .product-wrapper .product .product__value-and-cart-wrapper .product__value {
    font-size: 1.4rem;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

.container .products-section .product-wrapper .product .product__value-and-cart-wrapper .product__add-to-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 60px;
    height: 100%;
    max-height: 40px;
    border: none;
    border-radius: 4px;
    background-color: var(--red-color);
    cursor: pointer;

    transition: background-color 0.2s ease-in-out;
}

.container .products-section .product-wrapper .product .product__value-and-cart-wrapper .product__add-to-cart:hover {
    background-color: var(--light-red-color);
}

@media screen and (min-width: 576px) {
    .container {
        max-width: 768px;
    }
    
    .container .products-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
    .container .products-section .product-wrapper .product {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 12fr 2fr 2fr 2fr 2fr 3fr;
    }
    
    .container .products-section .product-wrapper .product .product__image {
        grid-column: auto;
        grid-row: auto;
    }
    
    .container .products-section .product-wrapper .product .product__color-list {    
        grid-column: auto;
        grid-row: auto;
    }

    .container .products-section .product-wrapper .product .product__rating {
        grid-column: auto;
        grid-row: auto;
    }
    
    .container .products-section .product-wrapper .product .product__details {
        grid-column: auto;
        grid-row: auto;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 1024px;
    }
    
    .container .products-section {
        grid-template-columns: repeat(3, 1fr);
    }

    .container .products-section .product-wrapper .product {
        grid-template-rows: 10fr 2fr 2fr 2fr 2fr 3fr;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        max-width: 1280px;
    }
    
    .container .products-section {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width: 1280px) {
    .container {
        max-width: 1380px;
    }

    .container .products-section {
        grid-template-columns: repeat(5, 1fr);
    }
}