:root {
    --titanium-black-color: #000;
    --titanium-green-color: #005703;
    --titanium-blue-color: #000791;
    --titanium-gray-color: #4a4a4a;

    --blue-color: #319bf7;
    --orange-color: #ff6200;
    --red-color: #ff1b1b;
    --light-red-color: #ff9191;
}


html, body {
    margin: 0;
}

h1 {
    padding: 20px;
    margin: 0;
    text-align: center;
}

.products-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 496px;
    margin: auto;
    gap: 4px;
}

@media screen and (min-width: 577px) {
    .products-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        max-width: 688px;
        margin: auto;
        gap: 4px;
    }

    .products-section .product-wrapper .product {
        display: grid;
        grid-template-rows: 13fr 3fr 3fr 3fr 5fr;
    
        width: 100%;
        height: 100%;
    }
}

@media screen and (min-width: 807px) {
    .products-section {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
        max-width: 945px;
        margin: auto;
        gap: 4px;
    }
}

@media screen and (min-width: 1077px) {
    .products-section {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 100%;
        max-width: 1286px;
        margin: auto;
        gap: 4px;
    }
}

@media screen and (min-width: 1366px) {
    .products-section {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        width: 100%;
        max-width: 1456px;
        margin: auto;
        gap: 4px;
    }
}

.products-section .product-wrapper {
    width: 100%;
    max-height: 450px;
    padding: 20px;
    box-shadow: 0 0 4px rgba(0,0,0,.2);
    box-sizing: border-box;
    transition: box-shadow 0.2s ease;
}

.products-section .product-wrapper:hover {
    box-shadow: 0 0 10px rgba(0,0,0,.6);
}

@media screen and (max-width: 577px) {
    .products-section .product-wrapper .product {
        display: grid;
        grid-template-columns: 2fr 3fr;
        grid-template-rows: repeat(4, 1fr);

        width: 100%;
        height: 100%;
    }

    .products-section .product-wrapper .product .product__image {
        grid-column: 1/2;
        grid-row: 1/4;
        min-width: 123px;
    }

    .products-section .product-wrapper .product .product__color-list {
        grid-column: 1/2;
        grid-row: 4/5;
    }

    .products-section .product-wrapper .product .product__actions {
        grid-column: 2/3;
        grid-row: 2/4;
    }
}

.products-section .product-wrapper .product .product__image img {
    width: 100%;
    height: 100%;
}

.products-section .product-wrapper .product .product__color-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 80px;
    margin: 0 auto;
    padding: 0;
}

.products-section .product-wrapper .product .product__color-list li{
    display: block;
    width: 18px;
    height: 18px;
}

.products-section .product-wrapper .product .product__color-list .product__color-element{
    border-radius: 50%;
    width: 100%;
    max-width: 20px;
    height: 100%;
    max-height: 20px;
    position: relative;
}

.products-section .product-wrapper .product .product__color-list .product__color-element.product__color-element--black{
    background-color: var(--titanium-black-color);
}

.products-section .product-wrapper .product .product__color-list .product__color-element.product__color-element--green{
    background-color: var(--titanium-green-color);
}

.products-section .product-wrapper .product .product__color-list .product__color-element.product__color-element--blue{
    background-color: var(--titanium-blue-color);
}

.products-section .product-wrapper .product .product__color-list .product__color-element.product__color-element--gray{
    background-color: var(--titanium-gray-color);
}

.products-section .product-wrapper .product .product__color-list .product__color-element:hover {
    transform: scale(1.1);
}

.products-section .product-wrapper .product .product__color-list .product__color-element.product__color-element--selected::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    width: 120%;
    height: 120%;
    background-color: transparent;
    border: 1px solid var(--blue-color);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.products-section .product-wrapper .product .product__name {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    align-self: center;
    text-decoration: none;
    color: #000;
    transition: color 0.2s ease-in-out;
}

.products-section .product-wrapper .product .product__name:hover {
    color: var(--blue-color);
}

.products-section .product-wrapper .product .product__actions {
    display: grid;
    grid-template-columns: 4fr 2fr 1fr 1fr;
    align-self: center;
}

.products-section .product-wrapper .product .product__actions .product__rating {
    display: flex;
    align-items: center;
    gap: 8px;
}

.products-section .product-wrapper .product .product__actions .product__rating .product__stars {
    display: flex;
    gap: 2px;
}

.products-section .product-wrapper .product .product__actions .product__rating .product__evaluation {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    color: var(--orange-color);
}

.products-section .product-wrapper .product .product__actions .product__comments {
    display: flex;
    align-items: center;
    gap: 4px;
    text-decoration: none;
}

.products-section .product-wrapper .product .product__actions .product__comments .product__comments-svg-wrapper {
    display: flex;
    align-items: center;
}

.products-section .product-wrapper .product .product__actions .product__comments .product__comments-svg-wrapper svg {
    fill: var(--blue-color);
    transition: fill 0.2s ease-in-out;
}

.products-section .product-wrapper .product .product__actions .product__comments:hover .product__comments-svg-wrapper svg {
    fill: var(--orange-color);
}

.products-section .product-wrapper .product .product__actions .product__comments .product__comments-number {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    color: var(--blue-color);
    transition: color 0.2s ease-in-out;
}

.products-section .product-wrapper .product .product__actions .product__comments:hover .product__comments-number {
    color: var(--orange-color);
}

.products-section .product-wrapper .product .product__actions .product__compare,
.products-section .product-wrapper .product .product__actions .product__favorite {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.products-section .product-wrapper .product .product__actions .product__compare svg,
.products-section .product-wrapper .product .product__actions .product__favorite svg {
    fill: var(--blue-color);
    transition: fill 0.2s ease-in-out;
}

.products-section .product-wrapper .product .product__actions .product__compare:hover svg {
    fill: var(--red-color);
}

.products-section .product-wrapper .product .product__actions .product__favorite:hover svg {
    fill: var(--red-color);
}


.products-section .product-wrapper .product .product__value-and-cart-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.products-section .product-wrapper .product .product__value-and-cart-wrapper .product__value {
    font-size: 1.4rem;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

.products-section .product-wrapper .product .product__value-and-cart-wrapper .product__add-to-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 60px;
    height: 100%;
    max-height: 40px;
    border: none;
    border-radius: 4px;
    background-color: var(--red-color);
    cursor: pointer;

    transition: background-color 0.2s ease-in-out;
}

.products-section .product-wrapper .product .product__value-and-cart-wrapper .product__add-to-cart:hover {
    background-color: var(--light-red-color);
}
