body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.modal {
    display: flex; /* Используем flex для центрирования */
    justify-content: center;
    align-items: center;
    position: fixed; /* Фиксированное позиционирование */
    top: 0;
    left: 0;
    width: 100%; /* Ширина на всю страницу */
    height: 100%; /* Высота на всю страницу */
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
    z-index: 100; /* Расположение поверх других элементов */
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 300px; /* Ширина модального окна */
    text-align: center; /* Центрирование текста */
}

.close-button {
    float: right; /* Позиционируем кнопку закрытия */
    font-size: 28px; /* Размер шрифта кнопки */
    font-weight: bold;
    cursor: pointer; /* Указатель мыши при наведении */
}
