@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Agdasima", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.products {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}

.products .product {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

.products .product .product__img img {
    max-height: 100px;
    max-width: 100%;
    width: auto;
}

.products .product .product__link a, .products .product .comments .comments__link a {
    text-decoration: none;
}

.products .product .product__link {
    margin-top: 10px;
}

.products .product .product-wrapper {
    display: flex;
    margin-top: 10px;
    column-gap: 10px;
}

.products .product .product-wrapper .comments {
    display: flex;
    column-gap: 4px;
}

.products .product .product__code {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 0.5rem;
}