body {
    width: 100%;
    height: 200dvh;
    margin: 0;
}

.container {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 100px;
    background-color: bisque;
}

.parent1 {
    position: relative;
    background-color: aqua;
    max-height: 100px;
    height: 100%;
}

.parent1 .parent1__child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.parent2 {
    position: relative;
    background-color: rgb(78, 242, 141);
    max-height: 100px;
    height: 100%;
}

.parent2 .parent2__child {
    position: absolute;
    inset: 0;
    width: fit-content;
    height: fit-content;
    margin: auto;
}

.parent3 {
    position: relative;
    background-color: rgb(249, 255, 85);
    max-height: 100px;
    height: 100%;
}

.parent3 .parent3__child {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parent4 {
    position: relative;
    background-color: rgb(255, 192, 84);
    max-height: 100px;
    height: 100%;
    display: grid;
    align-content: center;
    justify-content: center;
}

.fixed1 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fixed2 {
    font-size: 2rem;
    position: fixed;
    inset: 0;
    width: fit-content;
    height: fit-content;
    margin: auto;
}